/* GENEL AYARLAR */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: duolingo-sans,sans-serif;
}
body {
    background-color: #ffffff;
    color: #4b4b4b;
}


/*NAVBAR*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20%;
    background-color: #ffffff;
}


/* Duolingo logosu */

.logo img {
    width: 200px;
    height: auto;
    display: block;
    cursor: pointer;    
}


/* Site dili */

.dil-container {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.dil {
    color: rgb(175, 175, 175);
    font-size: 18px;
    font-weight: 700;
}

.dil-container i {
    color: #777777;
    font-size: 12px;
}

/* ANA GÖVDE */

.anagovde {
    display: flex ;
    flex-direction: row ;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 1200px;

    margin: 60px auto;
    padding: 10px 2px;

    gap: 60px;
}

.giris h1 {
    font-size: 32px;
    line-height: 1.5;
    font-weight: 780;

    color: #4b4b4b;

    margin-bottom: 55px;
}

/* KARAKTER */

.karakterler {
    width: 550px;
    height: 550px;

    flex-shrink: 0;
}

.karakterler svg {
    display: block;

    width: 100% !important;
    height: 100% !important;
}


/* GİRİŞ */

.giris {
    width: 380px;

    flex-shrink: 0;
}

/* BUTONLAR */

.butonlar {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
}

.btn {
    width: 100%;
    min-height: 50px;

    padding: 14px 20px;

    border-radius: 16px;

    font-size: 15px;
    font-weight: 800;

    letter-spacing: 0.5px;

    cursor: pointer;

    transition: transform 0.1s ease;
}


/* Yeşil buton */

.green {
    background-color: #58cc02;
    color: #ffffff;

    border: none;

    box-shadow: 0 4px 0 #46a302;
}

.green:hover {
    transform: translateY(2px);
    box-shadow: 0 2px 0 #46a302;
}


/* Beyaz buton */

.white {
    background-color: #ffffff;
    color: #1cb0f6;

    border: 2px solid #e5e5e5;

    box-shadow: 0 4px 0 #e5e5e5;
}

.white:hover {
    transform: translateY(2px);
    box-shadow: 0 2px 0 #e5e5e5;
}